<h1>Dreamer Idea List</h1>

<table class="table">


<tr>
	<td width= 20%><h4>Idea </h4></td>
	<td><h4>Description</h4></td>
	<td></td>
</tr>
<% @ideas.each do |idea| %>
	<tr>
		<td width= 20%>
			<h5><%= idea.title %></h5>
		</td>	
		<td >
			<h5><%= idea.description %></h6>
		</td>
			
		<td width= "24%">
					
			<%= link_to "Show", idea_path(idea), :class =>"btn btn-primary" %>
	
			<%= link_to "Edit", edit_idea_path(idea),:class =>"btn btn-default"  %>
	
			<%= link_to "Delete", idea_path(idea), :method => :delete, :data => {:confirm => "Are you sure you want to delete your idea? " } ,:class =>"btn btn-danger" %>
		</td>	
	</tr>
<%end%>
</table>
<%= link_to 'New Idea', new_idea_path ,:class => "btn btn-primary" %>

<div>
	<%= paginate @ideas %>	
</div>
